<div class="row centered-form">
  <div class="col-xs-12 col-sm-8 col-md-8 offset-sm-2 offset-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Registration for Learning App</h3>
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8">
              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8">
              <div class="form-group">
                <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
              </div>
            </div>
          </div>
          
          <input type="button" value="Login" id="login" class="btn btn-info btn-block">

          <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8">
              <div class="form-group"><ul id="errors"></ul></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/scripts/reg-scripts.js"></script>